<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>登录</title>
    <link rel="shortcut icon" href="~/Assets/ico/favicon.ico" type="image/x-icon" />
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/layer/skin/default/layer.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/add-ons.min.css" rel="stylesheet" />
    <style>
        footer {
            display: none;
        }
    </style>
</head>
<body>
        <div class="container-fluid content">
            <div class="row">
                <div class="body-login">
                    <div class="center-login">
                        <a href="#" class="logo pull-left hidden-xs">
                            <img src="~/Assets/img/lsl2.png" height="45" alt="LSL_PRO" />
                        </a>

                        <div class="panel panel-login">
                            <div class="panel-title-login text-right">
                                <h2 class="title"><i class="fa fa-user"></i>登录</h2>
                            </div>
                            <div class="panel-body">
                                <form id="form_login" >
                                    <div class="form-group">
                                        <label>用户名</label>
                                        <div class="input-group input-group-icon">
                                            <input name="username" id="username" type="text" class="form-control bk-noradius" />
                                            <span class="input-group-addon">
                                                <span class="icon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>密码</label>
                                        <div class="input-group input-group-icon">
                                            <input name="userpass" id="userpass" type="password" class="form-control bk-noradius" />
                                            <span class="input-group-addon">
                                                <span class="icon">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="checkbox-custom checkbox-default bk-margin-bottom-10">
                                                <input id="RememberMe" name="rememberme"  type="checkbox" />
                                                <label for="RememberMe" >记住我</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <button type="button" onclick="LSL_login.saveUserInfo(); LSL_login.CheckLogin()" class="btn btn-primary hidden-xs">登录</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="text-with-hr">
                                        <span>第三方登录</span>
                                    </div>
                                    <br />
                                    <div class="bk-margin-bottom-10 bk-margin-top-10 text-center">
                                        <a href="http://weibo.com/" class="fa fa-weibo facebook-bg"></a>
                                        <a href="https://github.com/" class="fa fa-github twitter-bg"></a>
                                        <a href="https://www.facebook.com/" class="fa fa-facebook facebook-bg"></a>
                                    </div><br />
                                    <p class="text-center">没有账号？ <a href="/Register/Register"><small>注册</small></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="~/Assets/vendor/js/jquery-2.1.1.min.js"></script>
        <script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/layer/layer.js"></script>
        <script src="~/Assets/js/CommonJs.js"></script>
       <script src="~/Assets/js/pages/login.js"></script>
</body>
</html>
